<header class="site-header">
    <div class="header-wrapper">
        <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>

        <nav class="site-nav">
            <ul>
                {% for item in site.navigation %}
                <li>
                    <a href="{{ item.url | relative_url }}" {% if page.url==item.url %}class="active" {% endif %}>
                        {{ item.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>